.cartButton {
  border: none;
  background-color: var(--bg-primary);
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  color: var(--cart);
  transition: color 300ms, background-color 300ms;
}

.circleCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF4934;
  width: 16px;
  height: 17px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  padding: 0;
  position: relative;
  top: -32px;
  left: 12px;
}
