.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 275px;
  height: 344px;
  border-radius: 20px;
  border: solid 1px var(--color-border-button);
  padding: 20px 15px 0;
  color: var(--txt-primary);
}

.cardImage {
  width: 201px;
  height: 205px;
  border-radius: 20px;
}

.cardTitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  margin: 0;
  color: var(--txt-primary);
}

.cardPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.cardPrice::after {
  content: "\20B4";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.cardBuy {
  display: flex;
  justify-content: space-between;
}

.cardButton {
  border: none;
  background: none;
  font-family: inherit;
  font-weight: inherit;
  text-align: inherit;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 658px) {

  .cardImage {
    display: flex;
    justify-self: center;
    align-self: center;
  }
}
