.socialNetwork {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 40px;
}

.socialItem {
  list-style: none;
}

.socialImg {
  width: 35px;
  height: 35px;
}
