.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-primary-dark);
  height: 80px;
  width: auto;
  padding: 0 60px;
}

.logoMA {
  width: 46px;
  height: 46px;
}

/* Store productPage authorization and cart */

.accountOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* burger menu */

.burgerMenu {
  display: none;
}

@media (max-width: 680px) {

  .header {
    padding: 0 20px;
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
    background-color: unset;
  }

  .burgerLineUp, .burgerLineDown {
    width: 23px;
    height: 2px;
    background-color: var(--bg-primary-light);
    transform: rotate(0deg);
    transition: transform 500ms;
  }

  .burgerLineUpActive {
    transform: translateY(5px) rotate(45deg);
  }

  .burgerLineDownActive {
    transform: translateY(-5px) rotate(-45deg);
  }
}
