.svgThemeButton {
  width: 20px;
  height: 20px;
}

.pathSvgTheme {
  fill: none;
  stroke: currentcolor;
  stroke-width: 1.5;
}

.activeButtonTheme {
  stroke: var(--bg-secondary-light);
}

.inactiveButtonTheme {
  stroke: var(--txt-secondary-light);
}
