@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #111;
}

.lightTheme, .darkTheme {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  transition: background-color 300ms, color 300ms;
}
