@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.txt {
  display: inherit;
  flex-direction: column;
  margin: 60px;
}

.img {
  max-width: 552px;
  width: 100%;
  height: 100vh;
}

.txtTitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.txtParagraph {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.link {
  color: inherit;
  font-weight: inherit;
}

@media (max-width: 430px) {

  .home {
    flex-direction: column-reverse;
    align-items: center;
    margin: 10px;
    gap: 10px;
  }

  .img {
    height: auto;
    aspect-ratio: 500 / 489;
    border-radius: 30px;
  }

  .txt {
    margin: 0;
  }

  .txtTitle {
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
  }

  .txtParagraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
